{% extends 'base.html' %}

{% block content %}
	<div class="row">
		<div class="col-lg-4">
			<form>
				<div class="form-group">
					<blockquote class="blockquote mb-0">
						<label for="Message">Message</label>
					</blockquote>
					<input 
					  autofocus
						type="text" 
						class="form-control" 
						value="{{message}}"
						name="message"
						autocomplete="off">
					<small class="form-text text-muted"> 
						Press Enter to Ask the pepper a question.
					</small>
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
			<div class="card answer">
				<div class="card-header">
					Reply
				</div>
				<div class="card-body">
					<p>{{reply}}</p>
				</div>
			</div>
		</div>
		<div class="col-lg-8">
			<div class="card answer">
				<div class="card-header">
					JSON
				</div>
				<div class="card-body">
					<pre>{{json}}</pre>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
