{% extends 'base.html' %}

{% block content %}
	<div class="row">
		<div class="col-lg-4">
			<form>
				<div class="form-group">
					<label for="Message">Message</label>
					<input 
					  autofocus
						type="text" 
						class="form-control" 
						value="{{message}}"
						name="message"
						autocomplete="off">
					<small class="form-text text-muted"> 
						Press Enter to Ask the pepper a question.
					</small>
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
				<div class="card answer">
					<div class="card-header">
						Answer
					</div>
					<div class="card-body">
						<blockquote class="blockquote mb-0">
							<p>{{reply}}</p>
						</blockquote>
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
