{% extends 'base.html' %}

{% macro render_test_preview(response) -%}
	<div class="col-lg-4">
		<div class="card answer">
			<div class="card-header">
				<p>
					{{response.specialist_name}}: {{response.message}}
				</p>
			</div>
			<div class="card-body">
				R: {{response.reply}}
			</div>
			<div class="card-body">
				<pre>{{response.json | json_stringify}}</pre>
			</div>
		</div>
	</div>
{%- endmacro %}


{% block content %}
	<div class="row">
		{%- for response in responses %}
			{{render_test_preview(response)}}
		{%- endfor %}
	</div>
{% endblock %}

