{% extends 'base.html' %}
{% from 'macro.html' import render_preview %}

{% macro render_test_preview(response, hash) -%}
	<div class="col-lg-4">
		<div class="card answer">
			<div class="card-header">
				<div>
					<a 
						class="btn btn-primary"
						href="#{{hash}}"
						data-toggle="collapse"
						role="button"
						aria-expanded="false"
						aria-controls="{{hash}}">
						JSON
					</a>
					{{response.specialist_name}}
				</div>
				<div>
					{{response.message}}
				</div>
			</div>
			<div class="card-body collapse" id="{{hash}}">
				<pre>{{response.json | json_stringify}}</pre>
			</div>
			<div class="card-body">
				{{render_preview(response.json)}}
			</div>
		</div>
	</div>
{%- endmacro %}


{% block content %}
	<div class="row">
		{%- for response in responses %}
			{{render_test_preview(response, response.message | get_hash)}}
		{%- endfor %}
	</div>
{% endblock %}

